@import "../../../constants/styles/global.module.scss";

.hero {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4rem;
  max-width: 1200px;
  margin: auto;

  @include respond-to("small") {
    padding: 0 24px;
    flex-direction: column-reverse;
    justify-content: flex-end;
  }

  .title {
    h1 {
      @include appear-from-bottom;
    }

    h2 {
      color: $blue_light;
      width: 80%;
      @include appear-from-bottom;

      @include respond-to("small") {
        width: unset;
      }
    }
  }

  .avatar {
    width: 400px;
    @include appear-from-bottom;

    @include respond-to("small") {
      width: unset;
      height: 40%;
    }
  }

  .CTAScrollDown {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    @include delayed-appear;

    @include respond-to("small") {
      text-align: center;
    }

    p {
      font-size: 18px;
      font-weight: 600;
    }
  }
}
