$white: #ffffff;
$black: #000000;
$yellow: #fdba38;
$blue: #202a34;
$blue_light: #4b819f;
$gray_light: #eef2f5;

.white {
  color: $white;
}

.yellow {
  color: $yellow;
}

:export {
  white: $white;
  black: $black;
  yellow: $yellow;
  blue: $blue;
  blue_light: $blue_light;
  gray_light: $gray_light;
}
