@import './mixins.module.scss';

h1,
h2,
h3 {
  margin: 0;
}

h1 {
  font-size: 64px;

  @include respond-to("medium") {
    font-size: 48px;
  }

  @include respond-to("small") {
    font-size: 36px;
  }
}

h2 {
  font-size: 48px;

  @include respond-to("medium") {
    font-size: 36px;
  }

  @include respond-to("small") {
    font-size: 24px;
  }
}

.uppercase {
  text-transform: uppercase;
}
