@import "../../../constants/styles/global.module.scss";

.about {
  position: relative;
  background-color: $blue_light;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  padding: 0 4rem;

  @include respond-to("medium") {
    flex-direction: column-reverse;
    padding: 0 24px;
  }

  >.mobileTitle {
    display: none;
    padding-top: 24px;
    color: $white;

    @include respond-to("medium") {
      display: block;
    }
    
  }

  > .leftColumn {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    align-self: flex-start;
    padding: 4rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 8rem);
    color: $white;

    @include respond-to("medium") {
      position: unset;
      height: unset;
      padding-top: 2rem;
      padding-left: 24px;

      >h1 {
        display: none;
      }
    }

    > .socials {
      display: flex;
      flex-direction: column;
      gap: 12px;

      a {
        cursor: pointer;
        @extend .uppercase;
        font-weight: bold;
        text-decoration: none;
        color: $white;
      }

      .buttons {
        display: flex;
        gap: 12px;
      }
    }
  }

  > .content {
    padding: 4rem 0;

    @include respond-to("medium") {
      padding: unset;
    }

    > h2 {
      color: $white;
      line-height: 108px;

      @include respond-to("medium") {
        line-height: unset;
      }
    }
  }
}
