@import "../../../constants/styles/global.module.scss";

.about {
  position: relative;
  background-color: $blue_light;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  padding: 0 4rem;

  > .leftColumn {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    align-self: flex-start;
    padding: 4rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 8rem);
    color: $white;

    > h1 > span {
      color: $yellow;
    }

    > .socials > a {
      cursor: pointer;
      @extend .uppercase;
      font-weight: bold;
    }
  }

  > .content {
    padding: 4rem 0;

    > h2 {
      color: $white;
      line-height: 108px;
    }
  }
}
